body {
  background-image: url("https://thumbs.dreamstime.com/z/to-do-list-white-paper-pencils-background-template-56711188.jpg");
  background-repeat: no-repeat;
    background-origin: fixed;
    background-size: cover;
    font-size: 30px;
    text-align: left;
    /* padding: 20px; */
    margin-top: 200px;
}

li {
  margin-left: 200px;
}

form {
  margin-left: 250px;
}
